@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoppinsLight';
  src: url('../public/fonts/Poppins/light.otf');
}

@font-face {
  font-family: 'AmsterdamSignatureRegular';
  src: url('../public/fonts/AmsterdamSignature/regular.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  @apply
    text-white
    bg-white;
}

main {
  @apply
    flex flex-col
    min-h-screen;
}

section {
  @apply
    flex 
    w-full min-h-screen h-screen
    overflow-hidden;
}

section:first-child h1 {
  font-family: 'AmsterdamSignatureRegular';
}

section:first-child p {
  font-family: 'PoppinsLight', sans-serif;
}

nav {
  font-family: 'PoppinsLight', sans-serif;
  
  @apply
    z-50
    top-0
    sticky flex
    items-center
    p-4
    bg-gradient-to-tl from-slate-900 to-slate-800;
}

nav ul {
  @apply
    flex w-full 
    justify-around;
}

nav ul li {
  @apply
    flex flex-col
    font-bold;
}

nav ul li:hover hr {
  @apply
    w-full
    transition-all
    duration-500;
}