@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoppinsLight';
  src: url('../public/fonts/Poppins/light.otf');
}

@font-face {
  font-family: 'AmsterdamSignatureRegular';
  src: url('../public/fonts/AmsterdamSignature/regular.ttf');
}

body {
  @apply
    text-white
    bg-white;
}

section {
  @apply
    flex 
    min-h-screen h-screen
    overflow-hidden;
}

section:first-child {
  background-image: url('../public/images/hero.webp');

  @apply
    bg-white bg-cover bg-top;
}

section:first-child h1 {
  font-family: 'AmsterdamSignatureRegular';
}

section:first-child p {
  font-family: 'PoppinsLight', sans-serif;
}